.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 20% 0% 20%;
    background-color: rgba(1, 34, 124, 0.7);
    padding-top: 5%;
}

.form-item input {
    width: 100%;
    height: 5%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 24px;
    outline: none;
    max-width: fit-content;
  }
  
  .form-item input:focus {
    border-color: rgb(100, 145, 49);
    box-shadow: 0 0 10px rgb(100, 145, 49);
  }
  
  .form-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .reserve-button, .reserve-button-red{
    min-width: 70%;
  }
